header{
    grid-area: cab;
    background-color: aqua;
    background-image: url(fundo.img);
    display: grid;
    grid-gap: 5px;
}
aside{
    grid-area: sec;
    background-color: blueviolet;
}
main{
    grid-area: pri;
    background-color: brown;
}
footer{
    grid-area: rod;
    background-color: aquamarine;
}

header, aside, main, footer{
    background-color: rgba(114, 111, 111, 0.7);
}

body{
    background-color: rgb(105, 105, 105);
    background-image: url(fundo.img);
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "rod rod rod";
    grid-gap: 5px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto auto;
}
.box_mae{
    border: rgb(28, 185, 224) 2px solid;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    width: 350px ;
    height: 550px;
    border: green 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.card img{
    width: 200px;
}

.logo{
    width: 200px;
    height: auto;
}
/* Reset de margens e preenchimento padrãoo */
* {
margin: 5px;
padding: 5px;
box-sizing:border-box;
}

/* Estilos do cabeçalho */
.cab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: blueviolet;
    color: rgba(red, green, blue, alpha);
}
.menu{
    height: 80px;
    right: auto;
}
.carrinho{
    height: 60px;
    right: auto;
}
.promoções{
    height: 90px;
    right: auto;
}
header li {
    display: inline; 
    margin: 1rem;
    left: 850px;
}
header {
    display: flex;
    padding: 1rem;
    position: relative;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-right: 20px;
}
.icon {
    width: 30px;
    height: 30px;
}
